html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}



:root {
  --bulma-success-h: 121deg;
  --bulma-success-s: 85%;
  --bulma-warning-h: 32deg;
  --bulma-danger-l: 46%;
}

