<pre>{{ playersByDivision | json }}</pre>
<table class="table is-striped is-bordered is-hoverable">
  <thead class="has-background-primary has-text-white">
    <tr>
      <th>Name</th>
      <th>Hitting Power</th>
      <th>Hitting Contact</th>
      <th>Hitting Form</th>
      <th>Fielding Form</th>
      <th>Fielding Glove</th>
      <th>Fielding Hustle</th>
      <th>Throwing Form</th>
      <th>Throwing Accuracy</th>
      <th>Throwing Speed</th>
      <th>Pitching Speed</th>
      <th>Pitching Accuracy</th>
    </tr>
  </thead>
  <tbody>
    <!-- Loop through each division -->
    <ng-container *ngFor="let division of divisions">
      <tr>
        <td colspan="12"><strong>{{ division }}</strong></td>
      </tr>
      <!-- Ensure players exist for this division -->
      <tr *ngFor="let player of playersByDivision?.[division]">
        <td>{{ player.first_name }} {{ player.last_name }}</td>
        <td>{{ player?.evaluation?.hitting_power || 'N/A' }}</td>
        <td>{{ player?.evaluation?.hitting_contact || 'N/A' }}</td>
        <td>{{ player?.evaluation?.hitting_form || 'N/A' }}</td>
        <td>{{ player?.evaluation?.fielding_form || 'N/A' }}</td>
        <td>{{ player?.evaluation?.fielding_glove || 'N/A' }}</td>
        <td>{{ player?.evaluation?.fielding_hustle || 'N/A' }}</td>
        <td>{{ player?.evaluation?.throwing_form || 'N/A' }}</td>
        <td>{{ player?.evaluation?.throwing_accuracy || 'N/A' }}</td>
        <td>{{ player?.evaluation?.throwing_speed || 'N/A' }}</td>
        <td>{{ player?.evaluation?.pitching_speed || 'N/A' }}</td>
        <td>{{ player?.evaluation?.pitching_accuracy || 'N/A' }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>